{foreach from=$list item=item}
<div class="postWrapperContainer">
	<div class="postStamp">
		<a class="postUser"href="u{$item.userid}">
			{if $item.hasImage}<img src="uploads/p/{$item.userid}.jpg" class="profileImage post" width="24" height="24">{/if}
			{$item.username}
		</a> {$item.date}
		<a class="anchor" href="p{$item.id}"></a>
	</div>
	<div class="postContainer active" rel="post_{$item.id}">
		{if $item.caption}<h2><a class="anchor" href="p{$item.id}">{$item.caption}</a></h2>{/if}
		<div class="postMessageContainer" rel="post_{$item.id}">
		<div class="message commentContainer {if ($item.userid==0||$item.userid==$user.id)}edit{/if}" rel="post_{$item.id}" ref="{$item.message}">
			{$item.messageReadable}
			</div>
			<div class="postFooter">
				<a class="dislike {if $item.myRating=='dislike'}active{/if} {if !$loggedIn}fix{/if}" title="{if !$loggedIn}{$lang.logInToRate}{else}{$lang.dislike}{/if}" ref="{$item.dislike}"></a>
				<div class="votingContainer" title="{$item.like} stimmen zu : {$item.dislike} lehnen ab">
					<span class="percent">{$item.percent} %</span>

					<span class="votingBar right" style="width:50px"></span>
					<span class="votingBar left {if $item.percent == '-' }deac{/if}" style="width:{$item.votingBarWidth}px"></span>
				</div>
				<a class="like {if $item.myRating=='like'}active{/if} {if !$loggedIn}fix{/if}" title="{if !$loggedIn}{$lang.logInToRate}{else}{$lang.like}{/if}" ref="{$item.like}"></a>
				<a class="footerButton comment" href="p{$item.id}" title="{if ($item.comments>0)}{$lang.clickToComments}{else}{$lang.clickToComment}{/if}">
					<span class="icon comment"></span>
					<span class="count" rel="{$item.comments}">
					{if !$item.comments}
						{$lang.none}
					{else}
						{$item.comments}
					{/if}
					</span>
					{if $item.comments==1}
						{$lang.comment}
					{else}
						{$lang.comments}
					{/if}
					<span class="arrow"></span>
				</a>
			</div>
			<div class="commentContainerWrapper"></div>
		</div>
	</div>
</div>
{/foreach}